/* Container para os ícones ficarem padronizados */
.tech-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

}

/* Imagem adaptada */
.tech-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}

.tech-name {
  margin: 0;
  font-weight: 600;

}

.text-about {
  text-align: justify;

}

.btn-size {
  width: 100%;

}

.text-size {
  margin-top: 5px;

}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon {
  width: 22px;
  height: 22px;
  color: rgb(149, 149, 149);
  transition: 0.3s ease;

}

.icon:hover {
  color: #1616db;

}

img {
  width: 190px;
  height: 190px;
  
}