.animate-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.animate-card:hover {
    transform: translateY(-5px);

}

.tech-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
  transition: box-shadow 0.3s ease;

}

.animate-card:hover .tech-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px;

}
