@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg-dark: #120b07;
$bg-card: #29181199;
$bg-card-hover: #3d2319cc;

$bg-footer: #120b07cc;

$orange-primary: #f97316;
$orange-light: #fb923c;
$orange-dark: #c2410c;
$orange-glow: #f9731626;

$text-main: #f3f4f6;
$text-muted: #9ca3af;
$border-color: #f9731626;

$box-shadow: #f9731666;

$background: #472619cc;

$radius-lg: 16px;
$radius-md: 10px;
$radius-sm: 4px;
$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

$success-color: #10b981;
$success-bg: rgba(16, 185, 129, 0.12);

$error-color: #ef4444;
$error-bg: rgba(239, 68, 68, 0.12);

$color-white: #ffffff;
$color-black: #000000;

$font-family: "Montserrat", sans-serif;